* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

@keyframes progresive_menu {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes chargement {}
header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4em;
}
header div {
  display: flex;
}
header i {
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: larger;
}
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo {
  width: 20%;
  height: 100%;
  margin: auto;
  object-fit: unset;
}

@media screen and (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4em;
  }
  header div {
    display: flex;
  }
  header i {
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: larger;
  }
  header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #logo {
    width: 50%;
    height: 80%;
    margin: auto;
    object-fit: unset;
  }
}
@media screen and (max-width: 375px) {
  header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5em;
  }
  header div {
    display: flex;
  }
  header i {
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: larger;
  }
  header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #logo {
    width: 50%;
    height: 50%;
    margin: auto;
    object-fit: unset;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 1em;
  position: absolute;
  width: 100%;
}
footer h3 {
  margin-bottom: 1em;
}
footer li {
  margin: 0.5em 0;
}
footer a {
  color: white;
}

.menu_footer {
  bottom: 0;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 1em;
    position: absolute;
    width: 100%;
  }
  footer h3 {
    margin-bottom: 1em;
  }
  footer li {
    margin: 0.5em 0;
  }
  footer a {
    color: white;
  }
}
@media screen and (max-width: 375px) {
  footer {
    background-color: #353535;
    color: white;
    padding: 1em;
  }
  footer h3 {
    margin-bottom: 1em;
  }
  footer li {
    margin: 0.5em 0;
  }
  footer a {
    color: white;
  }

  .menu_footer {
    bottom: auto;
  }
}
@media screen and (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: 15em 16em;
    grid-template-areas: "titre titre command" "entre plat dessert";
    grid-gap: 1em;
    margin: 0.5em 1em;
  }
  main .btn {
    background: #ff79da;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border-radius: 40px;
    border: 0px;
    height: 3em;
    width: 50%;
    margin: auto;
  }
  main :nth-child(1) {
    grid-area: titre;
  }
  main :nth-child(2) {
    grid-area: entre;
  }
  main :nth-child(3) {
    grid-area: plat;
  }
  main :nth-child(4) {
    grid-area: dessert;
  }
  main :nth-child(5) {
    grid-area: command;
  }

  .restaurant {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .restaurant img {
    width: 100%;
    object-fit: cover;
  }
  .restaurant h1 {
    position: absolute;
    bottom: 0;
  }
  .restaurant i {
    position: absolute;
    right: 0%;
    top: 10%;
  }

  .menu {
    background-color: #f6f6f6;
    padding: 0.5em 1em;
    border-radius: 15px;
  }
  .menu h3 {
    color: gray;
    width: 10%;
    border-bottom: 0.2em solid #99E2D0;
  }
  .menu span {
    position: absolute;
    right: 10px;
    top: 26px;
  }
  .menu div {
    background-color: white;
    border-radius: 15px;
    height: auto;
    padding: 0.5em;
    position: relative;
    margin: 0.5em;
  }

  .entre {
    animation: progresive_menu 1.5s ease-in-out 0.5s;
  }

  .plat {
    animation: progresive_menu 2s ease-in-out 0.5s;
  }

  .dessert {
    animation: progresive_menu 2.5s ease-in-out 0.5s;
  }
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 3em 17em;
    grid-template-areas: "titre titre command" "entre plat dessert";
    grid-gap: 0.5em;
    margin: 0.5em;
  }
  main .restaurant {
    display: flex;
    justify-content: center;
    position: relative;
  }
  main .restaurant i {
    position: absolute;
    right: 0%;
    top: 10%;
  }
  main :nth-child(1) {
    grid-area: titre;
  }
  main :nth-child(2) {
    grid-area: entre;
  }
  main :nth-child(3) {
    grid-area: plat;
  }
  main :nth-child(4) {
    grid-area: dessert;
  }
  main :nth-child(5) {
    grid-area: command;
  }

  .restaurant {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
  }

  .menu {
    background-color: #f6f6f6;
    padding: 0.5em;
    border-radius: 15px;
  }
  .menu h2 {
    font-size: 1.1em;
  }
  .menu h3 {
    color: gray;
    width: 10%;
    border-bottom: 0.2em solid #99E2D0;
    margin: 0.2em 0;
  }
  .menu span {
    position: absolute;
    right: 10px;
    top: 26px;
  }
  .menu div {
    background-color: white;
    border-radius: 15px;
    height: auto;
    padding: 0.5em;
    position: relative;
    margin: 0.2em 0;
  }

  .entre {
    animation: progresive_menu 1.5s ease-in-out 0.5s;
  }

  .plat {
    animation: progresive_menu 2s ease-in-out 0.5s;
  }

  .dessert {
    animation: progresive_menu 2.5s ease-in-out 0.5s;
  }
}
@media screen and (max-width: 375px) {
  main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20em repeat(3, 18em) 5em;
    background-color: #f6f6f6;
    border-radius: 1em 1em 0 0;
    grid-template-areas: "titre" "entre" "plat" "dessert" "command";
  }
  main .btn {
    background: #ff79da;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border-radius: 40px;
    border: 0px;
    height: 3em;
    margin: 2em 7em;
  }

  .restaurant {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .restaurant img {
    width: 100%;
  }
  .restaurant h1 {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: #f6f6f6;
    width: 100%;
    padding: 0.2em 0.5em;
    border-radius: 25px 25px 0 0;
  }
  .restaurant i {
    position: absolute;
    bottom: 15px;
    right: 25px;
    z-index: 2;
  }

  .menu {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2em repeat(3, 5em);
    margin: 0 1em;
  }
  .menu h3 {
    color: gray;
    width: 10%;
    border-bottom: 0.2em solid #99E2D0;
  }
  .menu span {
    position: absolute;
    right: 10px;
    top: 26px;
  }
  .menu div {
    background-color: white;
    border-radius: 15px;
    height: 80%;
    padding: 0.5em;
    position: relative;
    margin: 1em 0;
  }

  .entre {
    animation: progresive_menu 1.5s ease-in-out 0.5s;
  }

  .plat {
    animation: progresive_menu 2s ease-in-out 0.5s;
  }

  .dessert {
    animation: progresive_menu 2.5s ease-in-out 0.5s;
  }
}

/*# sourceMappingURL=menu.css.map */
