@keyframes progressive-opacity {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes chargement {
    0%{
        opacity: 100%;
    }
    20%{
        opacity: 20%;
    }
    40%{
        opacity: 100%;
        color: $secondary-color;
    }
    60%{
        opacity: 20%;
    }
    80%{
        opacity: 100%;
        color: $primary-color;
    }
    95%{
        opacity: 0%;
    }
    99%{
        font-size: 1em;
    }
    100%{
        font-size: 0px;
    }
}
@keyframes chargement-grand {
    0%{
        opacity: 100%;
    }
    20%{
        opacity: 20%;
    }
    40%{
        opacity: 100%;
        color: $secondary-color;
    }
    60%{
        opacity: 20%;
    }
    80%{
        opacity: 100%;
        color: $primary-color;
    }
    95%{
        opacity: 0%;
    }
    99%{
        font-size: 20em;
    }
    100%{
        font-size: 0px;
    }
}
@keyframes chargement_text {
    0%{
        color: $primary-color;
    }
    20%{
        color: $secondary-color;
    }
    40%{
        color: $primary-color;
    }
    60%{
        color: $secondary-color;
    }
    80%{
        color: $primary-color;
    }
    99%{
        font-size: 30px;
    }
    100%{
        color: $secondary-color;
        font-size: 0px;
    }
}
@keyframes fond {
    0%{
        opacity: 100%;
    }
    99%{
        opacity: 0%;
        width: 100%;
        height: 100%;
    }
    100%{
        width: 0%;
        height: 0%;
    }
    
}
@keyframes validé {
    0%{
        transform: translate(50px,0) rotate(0deg);
    }
    50%{
        transform: translate(50px,0) rotate(0deg);
    }
    100%{
        transform: translate(0px,0) rotate(360deg);
        opacity: 100%;
    }
}
@keyframes validé_fond {
    0%{
        transform: translate(50px,0);
    }
    100%{
        transform: translate(0px,0);
        opacity: 100%;
    }
}
@keyframes prix {
    0%{
        transform: translate(0px,0);
    }
    100%{
        transform: translate(-50px,0);
    }
}
@keyframes paragraphe {
    0%{
        width: 100%;
    }
    20%{
        width: 85%;
    }
    100%{
        width: 76%;
    }
}