#body{
    position: relative;
}
.load{
    position: absolute;
    z-index: 2;
    background-color: $background;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fond 0.5s 3s forwards;
    flex-direction: column;
    i{
        color: $primary-color;
        animation: chargement-grand 3.5s ease-in-out forwards;
        font-size: 20em;
    }
    p{
        margin: 1em 2em;
        font-size:30px;
        animation: chargement_text 3.5s ease-in-out forwards;
    }
}
a,a:visited{
    text-decoration: none;
    color: inherit;
}
// description
.description-restaurant{
    display: grid;
    grid-template-rows: 3em 15em 10em;
}
.lieux{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    font-size:large
}
.reservation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $background;
    width: 100%;
    height: 100%;
    font-size: large;
    
    h2{
        margin: 1em 0;
        padding: 0 2em;
    }
    p{
        padding: 0 1.4em;
    }

    .btn{
        @include button;
        height: 2em;
        margin:auto;
        width: 20%;
        font-size: large;
    }
}
nav{
    h2{
        margin: 0.7em;
    }
    ul{
        display: flex;
        justify-content: space-around;
        margin: 1em;
    }
}
.Fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    position: relative;
    border-radius: 40px;
    height: 5em;
    width: 30%;
    padding: 0.5em;
    i{
        font-size: 2em;
        margin: 0 1em;
        color: $primary-color;
    }
    span{
        border: 1px solid $primary-color;
        background-color: $primary-color;
        position: absolute;
        left: -0.4em;
        top: 1em;
        font-size: 1.5em;
        border-radius: 50%;
        padding: 0.1em 0.2em 0.1em 0.2em;
        color: white;
    }
}
// liste restaurant
.main-accueil{
    height: 100%;
    width: 100%;
    padding: 2em 1em;
    background-color: $background;
    display: grid;
    grid-template-rows: 3em repeat(2,15em);
    grid-gap: 1em;
    grid-template-areas: 
    "categorie vide"
    "palette note"
    "francaise delice";
    :nth-child(1){
        grid-area: categorie;
    }
    :nth-child(2){
        grid-area: palette;
    }
    :nth-child(3){
        grid-area: note;
    }
    :nth-child(4){
        grid-area: francaise;
    }
    :nth-child(5){
        grid-area: delice;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px 25px 26px 26px ;
        box-shadow: 1px 1px 10px black;
    }
}
#note-enchante{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.restaurant{
    position: relative;
}
.detail{
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    border-radius: 0 0 25px 25px;
    padding: 0.2em 1em;

    button{
        @include heart-btn;
        float: right;
        position: absolute;
        top: 20%;
        right: 3%;
        font-size: 1.4em;
    }
}
.new{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $tertiary-color;
    padding: 4px;
    color: darken($color: $tertiary-color, $amount: 60%);
}

@media screen and (max-width: 768px){
    .load{
        position: absolute;
        z-index: 2;
        background-color: $background;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20em;
        animation: fond 0.5s 3s forwards;
        flex-direction: column;
        i{
            color: $primary-color;
            animation: chargement 3.5s ease-in-out forwards;
            font-size: 1em;
            
        }
        p{
            margin: 1em 2em;
            font-size:30px;
            animation: chargement_text 3.5s ease-in-out forwards;
        }
    }
    // description
    .lieux{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: #eaeaea;
        font-size:medium;
    }
    .reservation {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $background;
        width: 100%;
        height: 100%;
        font-size:medium;
        
        h2{
            margin: 1em 0;
            padding: 0 2em;
        }
        p{
            padding: 0 1.4em;
        }

        .btn{
            @include button;
            height: 3em;
            margin: 2em 7em;
            font-size:medium;
            width: auto;
        }
    }
    nav{

        ul{
            display: flex;
            justify-content: space-around;
            margin: 1em;
        }
    }
    .Fonctionnement{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $background;
        position: relative;
        border-radius: 40px;
        height: 5em;
        width: 30%;
        padding: 0.5em;
        text-align: center;
        i{
            font-size: 2em;
            margin: 0 1em;
            color:$primary-color;
        }
        span{
            border: 1px solid $primary-color;
            background-color: $primary-color;
            position: absolute;
            left: -0.4em;
            font-size: 1.5em;
            padding: 0.1em 0.2em 0.1em 0.2em;
            color: white;
        }
    }
    // liste restaurant
    .main-accueil{
        height: 100%;
        width: 100%;
        padding: 2em 1em;
        background-color: $background;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3em repeat(4,15em);
        grid-gap: 40px;
        grid-template-areas: 
        "categorie"
        "palette"
        "note"
        "francaise"
        "delice";
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px ;
        }
    }
    #note-enchante{
        width: 100%;
        height: 200px;
        border-radius: 25px 25px 0 0;
    }
    .restaurant{
        position: relative;
    }
    .detail{
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
        border-radius: 0 0 25px 25px;
        padding: 0.2em 1em;
    }
    .new{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $tertiary-color;
    }
}
@media screen and (max-width: 375px) {
    .load{
        position: absolute;
        z-index: 2;
        background-color: $background;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20em;
        animation: fond 0.5s 3s forwards;
        flex-direction: column;
        i{
            color: $primary-color;
            animation: chargement 3.5s ease-in-out forwards;
        }
        p{
            margin: 1em 2em;
            font-size:30px;
            animation: chargement_text 3.5s ease-in-out forwards;
        }
    }
    // description
    
    .description-restaurant{
        display: grid;
        grid-template-rows:3em 15em 30em;
    }
    .lieux{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: #eaeaea;
    }
    .reservation {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $background;
        width: 100%;
        height: 100%;
        
        h2{
            margin: 1em 0;
            padding: 0 2em;
        }
        p{
            padding: 0 1.4em;
        }

        .btn{
            @include button;
            height: 3em;
            margin: 2em 7em;
            width:auto;
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        margin: 1em 1em;

        ul{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,7em);
            margin: 1em 0;
            grid-gap: 1em;
        }
    }
    .Fonctionnement{
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: $background;
        position: relative;
        border-radius: 40px;
        height: 100%;
        width: auto;
        padding: 0;
        i{
            font-size: 2em;
            margin: 0 1em;
            color: $primary-color;
        }
        span{
            border: 1px solid $primary-color;
            background-color: $primary-color;
            position: absolute;
            left: -0.4em;
            top: 1.5em;
            font-size: 1.5em;
            padding: 0.1em 0.2em 0.1em 0.2em;
            color: white;
        }
    }
    // liste restaurant
    .main-accueil{
        height: 100%;
        width: 100%;
        padding: 2em 1em;
        background-color: $background;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3em repeat(4,15em);
        grid-gap: 40px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px ;
        }
    }
    #note-enchante{
        width: 100%;
        height: 200px;
        border-radius: 25px 25px 0 0;
    }
    .restaurant{
        position: relative;
    }
    .detail{
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
        border-radius: 0 0 25px 25px;
        padding: 0.2em 1em;
    }
    .new{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $tertiary-color;
    }
}