@media screen and (min-width: 1101px){
    .main-menu{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: 17em 4em 50% ;
        grid-template-areas:
        "titre titre titre"
        "z command y"
        "entre plat dessert";
        grid-gap: 1em;
        margin: 0.5em 2em;
        min-height: 46em;
        .btn{
            @include button;
            height: 3em;
            width: 50%;
            margin: auto;
        }
        :nth-child(1){
            grid-area: titre;
        }
        :nth-child(2){
            grid-area: entre;
        }
        :nth-child(3){
            grid-area: plat;
        }   
        :nth-child(4){
            grid-area: dessert;
        }
        :nth-child(5){
            grid-area: command;
        }
    }
    .restaurant-menu{
        display: flex;
        justify-content: center;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            border-radius: 25px;
            
        }
        h1{
            position: absolute;
            background-color: white;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 0.1em 0;
            background-color: $background;
            border-radius: 0 0 20px 20px;
        }
        .heart-btn{
            @include heart-btn;
            background-color: $background;
            position: absolute;
            right: 20%;
            bottom: 5%;
            font-size: 1.4em;
        }
    }
    .menu{
        background-color: $background;
        padding: 0.5em 1em;
        border-radius: 15px;
        h3{
            color: gray;
            width: 10%;
            border-bottom: 0.2em solid $tertiary-color;
        }
        .prix{
            position: absolute;
            right: 10px;
            top: 38px;
        }
        h2{
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%;

        }
        .fond{
            position: absolute;
            opacity: 0%;
            top: 0;
            right: 0px;
            padding: 1.2em 1em;
            background-color: $tertiary-color;
            height: 100%;
        }
        i{
            color: white;
            font-size: 1.5em;
        }

        a{
            background-color: white;
            border-radius: 15px;
            height: auto;
            padding: 0.5em;
            position: relative;
            margin: 1.2em 0.5em;
            overflow: hidden;
            display: block;
            &:hover{
                .fond{
                    animation: validé_fond 1s ease-in-out forwards;
                }
                i{
                    animation: validé 1s ease-in-out forwards;
                }
                .prix{
                    animation: prix 1s ease-in-out forwards;
                }
            }
            
        }
    }
    
    .entre{
        opacity: 0%;
        animation: progressive-opacity 1.5s ease-in-out 0.5s forwards;
    }
    .plat{
        opacity: 0%;
        animation: progressive-opacity 2s ease-in-out 0.5s forwards;
    }
    .dessert{
        opacity: 0%;
        animation: progressive-opacity 2.5s ease-in-out 0.5s forwards;
    }
}
@media screen and (max-width: 1100px){

    .main-menu{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20em repeat(3,18em) 5em;
        background-color: $background;
        border-radius: 1em 1em 0 0;
        grid-template-areas: 
        "titre"
        "entre"
        "plat"
        "dessert"
        "command";
        .btn{
            @include button;
            height: 3em;
            margin: 2em 7em;
        }
    }
    .menu-note{
        grid-template-rows: 20em 22.2em repeat(2,18em) 5em;
    }
    .restaurant-menu{
        display: flex;
        justify-content: space-between;
        position: relative; 
        img{
            width: 100%;
            object-fit: cover;
        }
        h1{
            position: absolute;
            bottom: 0;
            z-index: 2;
            background-color: $background;
            width: 100%;
            padding: 0.2em 0.5em;
            border-radius: 25px 25px 0 0;
        }
        .heart-btn{
            @include heart-btn;
            background-color: $background;
            position: absolute;
            right: 5%;
            bottom: 5%;
            font-size: 1.4em;
            z-index: 2;
        }
    }
    .menu{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2em repeat(3, 5em);
        margin: 0 1em;
        h3{
            color: gray;
            width: 10%;
            border-bottom: 0.2em solid $tertiary-color;
            font-size: 1em;
        }
        h2{
            font-size: 1.2em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .prix{
            position: absolute;
            right: 10px;
            top: 16px;
            height: 100%;
            padding: 1.2em 0;
        }
        a{
            background-color: white;
            border-radius: 15px;
            height: 80%;
            padding: 0.5em;
            position: relative;
            margin: 1em 0;
            overflow: hidden;
            display: block;
        }
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1.2em;
        }
        .fond{
            position: absolute;
            opacity: 0%;
            top: 0;
            right: 0px;
            padding: 1.2em 1em;
            background-color: $tertiary-color;
            height: 100%;
        }
        i{
            color: white;
            font-size: 1.5em;
        }
        .detail-contenu{
            width: 85%;
        }
        a{
            &:hover{
                .fond{
                    animation: validé_fond 1s ease-in-out forwards;
                }
                i{
                    animation: validé 1s ease-in-out forwards;
                }
                .prix{
                    animation: prix 1s ease-in-out forwards;
                }
                .detail-contenu{
                    animation: paragraphe 1s ease-in-out forwards;
                }
            }
        }
    }
    .entre{
        animation: progressive-opacity 1.5s ease-in-out 0.5s;
    }
    .plat{
        animation: progressive-opacity 2s ease-in-out 0.5s;
    }
    .dessert{
        animation: progressive-opacity 2.5s ease-in-out 0.5s;
    }

}
@media screen and (max-width: 425px){
    .menu{
        h2{
            font-size: 1em;
        }
        p{
            font-size: 1em;
        }
        .prix{
            top: 8px;
        }
    }
}