main{
    display: grid;
    grid-template-columns: repeat(3,28%);
    grid-template-rows: 3em 16em ;
    grid-template-areas:
    "titre titre command"
    "entre plat dessert";
    grid-gap: 1em;
    margin: 0.5em 1em;
    .btn{
        background-color:$secondary-color;
        height: 3em;
        border-radius: 40px;
        width: 50%;
        margin: auto;
    }
        :nth-child(1){
            grid-area: titre;
        }
        :nth-child(2){
            grid-area: entre;
        }
        :nth-child(3){
            grid-area: plat;
        }   
        :nth-child(4){
            grid-area: dessert;
        }
        :nth-child(5){
            grid-area: command;
        }
        .restaurant{
            display: flex;
            justify-content: center;
            position: relative;
            i{
                position: absolute;
                right: 0%;
                top: 10%;
            }       
        }
}
.menu{
    background-color: $background;
    padding: 0.5em 1em;
    border-radius: 15px;
    h3{
        color: gray;
        width: 10%;
        border-bottom: 0.2em solid $tertiary-color;
    }
    span{
        position: absolute;
        right: 10px;
        top: 26px;
    }
    div{
        background-color: white;
        border-radius: 15px;
        height: auto;
        padding: 0.5em;
        position: relative;
        margin: 0.5em;
        
    }
}

@media screen and (max-width: 768px){
    main{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: 3em 17em ;
        grid-template-areas:
        "titre titre command"
        "entre plat dessert";
        
        :nth-child(1){
            grid-area: titre;
        }
        :nth-child(2){
            grid-area: entre;
        }
        :nth-child(3){
            grid-area: plat;
        }   
        :nth-child(4){
            grid-area: dessert;
        }
        :nth-child(5){
            grid-area: command;
        }
        .restaurant{
            display: flex;
            justify-content: center;
            position: relative;
            i{
                position: absolute;
                right: 0%;
                top: 10%;
            }       
        }

    }
    .restaurant{
        display: flex;
        justify-content: space-between;
        margin: 0 1em;
    }
}
.menu{
    background-color: $background;
    padding: 0.5em;
    border-radius: 15px;
    h2{
        font-size: 1.1em;
    }
    h3{
        color: gray;
        width: 10%;
        border-bottom: 0.2em solid $tertiary-color;
        margin: 0.2em 0;
    }
    span{
        position: absolute;
        right: 10px;
        top: 26px;
    }
    div{
        background-color: white;
        border-radius: 15px;
        height: auto;
        padding: 0.5em;
        position: relative;
        margin: 0.2em 0 ;
    }
}

@media screen and (max-width: 375px) {

    main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5em repeat(3,18em) 5em;
        background-color: $background;
        border-radius: 1em 1em 0 0;
        grid-template-areas: 
        "titre"
        "entre"
        "plat"
        "dessert"
        "command";
        
        .btn{
            background-color:$secondary-color;
            height: 3em;
            border-radius: 40px;
            margin: 2em 7em;
        }
    }
    .restaurant{
        display: flex;
        justify-content: space-between;
        margin: 0 1em;
    }
    .menu{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2em repeat(3, 5em);
        margin: 0 1em;
        h3{
            color: gray;
            width: 10%;
            border-bottom: 0.2em solid $tertiary-color;
        }
        span{
            position: absolute;
            right: 10px;
            top: 26px;
        }
        div{
            background-color: white;
            border-radius: 15px;
            height: 80%;
            padding: 0.5em;
            position: relative;
            margin: 1em 0;
        }
    }

}
