@import "../reset.scss";
@import "../Utlis/variable";
@import "../Layout/header-menu";
@import "../Layout/footer";

@media screen and (max-width: 375px) {
    header{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5em 20em;
        i{
            float: left;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    #logo{
        width: 50%;
        height: 50%;
        margin: auto;
        object-fit:unset;
    }

    main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5em repeat(3,18em) 5em;
        background-color: $background;
        border-radius: 1em 1em 0 0;
        
        .btn{
            background-color:$secondary-color;
            height: 3em;
            border-radius: 40px;
            margin: 2em 7em;
        }
    }
    .restaurant{
        display: flex;
        justify-content: space-between;
        margin: 0 1em;
    }
    .menu{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2em repeat(3, 5em);
        margin: 0 1em;
        h3{
            color: gray;
        }
        span{
            float: right;
        }
        div{
            background-color: white;
            border-radius: 15px;
            height: 80%;
            padding: 0.5em;
        }
    }

}
