@mixin button {
    background: $secondary-color;
    background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
    border-radius: 40px;
    border: 0px;
    box-shadow: 4px 4px 10px $primary-color;    
    cursor: pointer;
    color: white;
    font-weight: bold;
    &:hover{
        filter: brightness(120%);
        box-shadow: 8px 6px 20px $primary-color;
    }
}
@mixin heart-btn {
    cursor: pointer;
    border: 0px;
    background-color: white;
    span{
        opacity: 0%;
        background: linear-gradient(180deg, $primary-color 0%, $secondary-color 80%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: absolute;
        left: 0;
        font-size: 1.02em;
    }
    &:hover{
        span{
            animation: progressive-opacity 1s ease-in-out forwards;
        }
    }
}