footer{
    background-color: #353535;
    color: white;
    padding: 1em;
    width: 100%;
    bottom: 0;
    h3{
        margin-bottom: 1em;
    }
    li{
        margin: 0.5em 0;
    }
    a{
        color: white;
    }
    
}
.footer-note{
    bottom: auto;
}
.menu_footer{
    position: absolute;
}
@media screen and (max-width: 768px){
    footer{
        background-color: #353535;
        color: white;
        padding: 1em;
        width: 100%;
        bottom: 0;
        h3{
            margin-bottom: 1em;
        }
        li{
            margin: 0.5em 0;
        }
        a{
            color: white;
        }
    }
    .footer-note{
        bottom: 0;
    }
}
@media screen and (max-width: 375px){
    footer{
        background-color: #353535;
        color: white;
        padding: 1em;
        h3{
            margin-bottom: 1em;
        }
        li{
            margin: 0.5em 0;
        }
        a{
            color: white;
        }
    }
    .menu_footer{
        bottom: auto;
    }
}