#logo-accueil{
    text-align: center;
    font-size: 2.5em;
}
@media screen and (max-width: 768px){
    #logo-accueil{
        text-align: center;
        font-size: 2.5em;
    }
    
}
@media screen and (max-width: 375px){
    #logo-accueil{
        text-align: center;
        font-size: 2.5em;
    }
}